[run]
omit = pyscenes/future_features.py, pyscenes/main.py, pyscenes/examples/scene_switcher.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: